<main class='container moadal-centered'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <form class='modal-body'>
        <h5 class='modal-title mb-3'>Create an Account</h5>
        <label for='firstName' class='sr-only'>First Name</label>
        <input
          type='text'
          class='form-control mb-3'
          id='firstName'
          placeholder='First Name'
          required
          value='{{firstName}}'
        />
        >

        <label for='lastName' class='sr-only'>Last Name</label>
        <input
          type='text'
          class='form-control mb-3'
          id='lastName'
          placeholder='Last Name'
          required
          value='{{lastName}}'
        />
        >

        <label for='phoneNumber' class='sr-only'>Phone Number</label>
        <input
          type='tel'
          class='form-control mb-3'
          id='phoneNumber'
          placeholder='Phone Number'
          required
          value='{{phoneNumber}}'
        />
        >

        <label for='email' class='sr-only'>Email Address</label>
        <input
          type='email'
          class='form-control mb-3'
          id='email'
          placeholder='Email Address'
          required
          value='{{email}}'
        />
        >

        <label for='password' class='sr-only'>Password</label>
        <input
          type='password'
          class='form-control mb-3'
          id='password'
          placeholder='Password'
          required
          value='{{password}}'
        />
        >

        <label for='confirmPassword' class='sr-only'>Confirm Password</label>
        <input
          type='password'
          class='form-control mb-4'
          id='confirmPassword'
          placeholder='Confirm Password'
          required
          value='{{confirmPassword}}'
        />
        >

        <button type='submit' class='btn btn-primary btn-block'>Create Account</button>
      </form>
    </div>
  </div>
</main>