<link rel='stylesheet' href='/css/homepage.css' />


<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <div class="search-container">
      <form class="d-flex search-bar" role="search" id='game-search-form'>
        <input class="form-control me-2" id='game-query' type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>


<div>
  <section class='top-section'>
    <section id="requested-games"></section>

  </section>



  <section class='right-container'>

    <main class='feed'>
      {{#each posts as |post|}}

      <div class='post card'>
        <h5 class="card-title">{{system}}__________<span style="font-size: 0.8em;">(∩ ͡° ͜ʖ ͡°)⊃━☆ﾟ.
            *</span>__________{{category}} </h5>

        <h3>{{post.game.title}}</h3>
        <img src="{{post.game.image}}" class=" post-img card-img-top" alt="{{post.game.title}}">
        <div class="card-body">

          <h4 class="card-title">{{post.title}} by <b>{{post.user.name}}</b></h4>

          <p class="card-text">{{post.content}}</p>
          <span style='font-size:30px;'>&#128491;</span>
          <a href="/post/{{post.id}}" class="btn btn-primary">Comments</a>
          {{!-- *trying to get this to show all post data and comment data underneath --}}
        </div>
      </div>
      {{/each}}
    </main>

  </section>

</div>
<script src="./js/rawgdata.js"></script>