<<<<<<< HEAD
{{log this}}
<header>

  <div class="login-container">
  <!-- Login form and other content go here -->
  <img src="./assets/dystopian5.jpg" class="background-image" alt="Background Image">
</div>

</div class="nav-container">
<nav class="navbar navbar-expand-lg ">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">GameU</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
            {{#if logged_in}}
            <a class="nav-link" href="/profile">Profile</a> 
            </li>
            <li>
            <button class="no-button btn btn-dark" id="logout">Logout</button>
            {{else}}
            <a class="nav-link" href="/login">Login</a>
            {{/if}}
          </li>

      </ul>

    </div>
  </div>
</nav>
  <div>
    {{!-- <img src='./assets/images/ESPN_U_logo.svg.png' alt='GameU Logo' /> --}}
  </div>
</header>

  <div class="search-container container-fluid">
=======
     
<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
>>>>>>> 1770ac5318d3815e2a15e338f755b0e5abe79b31
        <form class="d-flex" role="search" id='game-search-form'>
        <input class="search-input form-control me-2" id='game-query' type="search" placeholder="Search" aria-label="Search">
        <button class="search-btn btn-outline-success" type="submit">Search</button>
      </form>
      </div>



<div>
  <section class='top-section'>
<section id="requested-games"></section>
   
  </section>



  <section class='right-container'>
    {{!-- <div class='nav'>
      <button class='main-forum'>Main Forum</button>
      <button class='games'>Games</button>
      <button class='myProfile'>My Profile</button>
    </div> --}}
    <main class='feed'>
{{#each posts as |post|}}
  <div class="card-container">
    <div class='post card'>
      <img src="{{post.game.image}}" class=" post-img card-img-top" alt="{{post.game.title}}">
        <div class="card-body">

      <h4 class="card-title">{{post.title}} by <b>{{post.user.name}}</b></h4>

      <p class="card-text">{{post.content}}</p>
      <span style='font-size:30px;'>&#128491;</span>
      <a href="/post/{{post.id}}" class="btn btn-primary">Comments</a> 
      {{!-- *trying to get this to show all post data and comment data underneath --}}
    </div>
    {{/each}}
    </div>
    </div>
  </main>

  </section>

<script src="./js/rawgdata.js"></script>