     
<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
        <form class="d-flex" role="search" id='game-search-form'>
        <input class="search-input form-control me-2" id='game-query' type="search" placeholder="Search" aria-label="Search">
        <button class="search-btn btn-outline-success" type="submit">Search</button>
      </form>
      </div>



<div>
  <section class='top-section'>
<section id="requested-games"></section>
   
  </section>



  <section class='right-container'>
    {{!-- <div class='nav'>
      <button class='main-forum'>Main Forum</button>
      <button class='games'>Games</button>
      <button class='myProfile'>My Profile</button>
    </div> --}}
    <main class='feed'>
{{#each posts as |post|}}
  <div class="card-container">
    <div class='post card'>
      <img src="{{post.game.image}}" class=" post-img card-img-top" alt="{{post.game.title}}">
        <div class="card-body">

      <h4 class="card-title">{{post.title}} by <b>{{post.user.name}}</b></h4>

      <p class="card-text">{{post.content}}</p>
      <span style='font-size:30px;'>&#128491;</span>
      <a href="/post/{{post.id}}" class="btn btn-primary">Comments</a> 
      {{!-- *trying to get this to show all post data and comment data underneath --}}
    </div>
    {{/each}}
    </div>
    </div>
  </main>

  </section>

<script src="./js/rawgdata.js"></script>