{{!-- {{log this}} --}}
<header>
  <div>
    {{!-- <img src='./assets/images/ESPN_U_logo.svg.png' alt='GameU Logo' /> --}}
  </div>
</header>

<div>
  <section class='top-section'>
    <form id='game-search-form'>
      <input type='search' id='game-query' name='q' placeholder='Search...' />
      <button>Search</button>
    </form>
<section id="requested-games"></section>
    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada
      fames ac turpis egestas.</p>
  </section>



  <section class='right-container'>
    {{!-- <div class='nav'>
      <button class='main-forum'>Main Forum</button>
      <button class='games'>Games</button>
      <button class='myProfile'>My Profile</button>
    </div> --}}
    <main class='feed'>
{{#each posts as |post|}}
  
    <div class='post card'>
      <img src="..." class="card-img-top" alt="...">
        <div class="card-body">

      <h4 class="card-title">{{post.title}} by <b>{{post.user.name}}</b></h4>

      <p class="card-text">{{post.content}}</p>
      <span style='font-size:30px;'>&#128491;</span>
      <a href="/post/{{post.id}}" class="btn btn-primary">Comments</a> 
      {{!-- *trying to get this to show all post data and comment data underneath --}}
    </div>
    {{/each}}
  </main>
    {{!-- <aside class='news-card1'>
      <p>Pellentesque habitant morbi tristique senectus et netus et malesuada
        fames ac turpis egestas.</p>
    </aside>

    <aside class='news-card2'>
      <p>Pellentesque habitant morbi tristique senectus et netus et malesuada
        fames ac turpis egestas.</p>
    </aside>

    <aside class='news-card3'>
      <p>Pellentesque habitant morbi tristique senectus et netus et malesuada
        fames ac turpis egestas.</p>
    </aside>

    <aside class='news-card4'>
      <p>Pellentesque habitant morbi tristique senectus et netus et malesuada
        fames ac turpis egestas.</p>
    </aside>

    <aside class='news-card5'>
      <p>Pellentesque habitant morbi tristique senectus et netus et malesuada
        fames ac turpis egestas.</p>
    </aside> --}}
  </section>

</div>
<script src="./js/rawgdata.js"></script>