    <div class='post card'>
      {{!-- <img src="https://placehold.co/600x400/EEE/31343C" class="card-img-top" alt="..."> --}}
        <div class="card-body">

      <h2 class="card-title">{{title}} by <b>{{user.name}}</b></h2>

      <p class="card-text">{{content}}</p>


    </div>

    {{#each comments as |comment|}}
    <div class="card">

      <h5 class="card-title">{{comment.user.name}}</h5>
        <p class="card-text">{{comment.content}}</p>
        {{/each}}
    </div>
