    {{!-- {{log this}} --}}
    <div class='post card'>
      {{!-- <img src="https://placehold.co/600x400/EEE/31343C" class="card-img-top" alt="..."> --}}
        <div class="card-body">

      <h2 class="card-title">{{title}} by <b>{{user.name}}</b></h2>

      <p class="card-text">{{content}}</p>


    {{#if logged_in}}
    <button type="button" class="btn btn-outline-dark" id="addCommentButton">Add a Comment</button>
    {{else}}
    <a class="nav-link" href="/login">Login to Make a Comment</a>
    {{/if}}
    
    <form class="form new-comment-form" style="display: none;">
      <div class="form-group">
        <label for="content">Your Comment</label>
        <textarea class="form-control" id="content" rows="4" placeholder="Enter your comment"></textarea>
      </div>
      <button type="submit" id="postCommentButton" class="btn btn-primary">Post Comment</button>
    </form>
  </div>

    {{#each comments as |comment|}}
    <div class="card">

      <h5 class="card-title">{{comment.user.name}}</h5>
        <p class="card-text">{{comment.content}}</p>
        {{/each}}
    </div>

<script src="/js/postAndComment.js"></script>