{{log this}}
<section>
  <h2>BROUGHT TO YOU BY</h2>
  <aside class='ad'>

  </aside>
</section>

<section>
  <h2>{{name}}</h2>
  {{!-- <form id='form'>
    <input type='search' id='query' name='q' placeholder='Search...' />
    <button>Search</button>
  </form> --}}
  <main>
    {{#each posts as |post|}}

    <h2>Recent Posts</h2>
    <div class='your-post'>
      <img src="https://media.rawg.io/media/screenshots/f22/f22857f426275f7a09d865a2ad2376b9.jpg" class=" post-img card-img-top" alt="Super Mario Bros.">
      <h4 class="card-title">{{post.title}}</h4>
      <p class="card-text">{{post.content}}</p>
      <button class="btn btn-sm btn-danger" data-id="{{project.id}}">DELETE</button>
    </div>
    {{/each}}

  </main>
</section>
<script src="/js/newpost.js"></script>
<script src="/js/comment.js"></script>